<h3>Attendees:</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Profession</th>
    <th>Age</th>
    <th>Wealth Rating</th>
  </tr>
  {{#each this}}
    <tr>
      <td>{{ displayName }}</td>
      <td>{{ profession }}</td>
      <td>{{ age }}</td>
      <td>{{ wealth_rating }}</td>
    </tr>
  {{/each}}
</table><br>
