<!-- <br>
<form action="/concerts" method="post">
  <input type="hidden" name="authenticity_token">
  Title: <input type="text" name="concert[title]"><br>
  Venue: <input type="text" name="concert[venue]"><br>
  Date: <input type="date" name="concert[date]"><br>
  <input type="submit" name="Create a Concert">
</form> -->
