<br>
<table>
  <tr>
    <th>Title</th>
    <th>Date</th>
  </tr>
  {{#each this}}
    <tr>
      <td><a href="#" class="concert-link" id={{ id }}>{{ title }}</a></td>
      <td>{{ displayDate }}</td>
    </tr>
  {{/each}}
</table>

<br>

<div id="create-concert"><a href="#">Create a Concert</a></div>
